/* Common Styles */

body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .text-primary{
    color: red;
  }

  .btn-primary{
    background-color: red;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    border: 1;
    border-color: red;
    font-size: 20px;
    padding: 15px 35px 15px;
  }

  .btn-primary2{
    background-color: none;
    color: red;
    font-weight: 700;
    border-radius: 5px;
    border: 1;
    border-color: red;
    font-size: 20px;
    padding: 15px 35px 15px;
  }

  .section-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
  }
  .section-description{
    text-align: center;
    font-size: 15px;
  }

/* NavBar Styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;  
}
.nav-title{
    color: #181818;
    font-size: 48px;
    font-weight: 800;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #181818;
}

/*Banner Styles */

header {
  background-color: #fff8f3;
  background-image: url(../images/header_bg.png),url(../images/developer.png);;
  background-repeat: no-repeat;
  background-position: bottom right, left bottom;
}
.banner{
  padding: 90px 30px 0px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content{
  max-width: 500px;
}
.banner .profile-pic{
  width: 500px;
}
.banner-greetings{
  font-size: 45px;
  color: #474747;
  margin-bottom: 0px;
}
.banner-title{
  font-size: 50px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 10px;
}
.banner-description{

  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}


/* Main Section Styles */
main{
  max-width: 1140px;
  margin: 0px auto;
}


/* About Section Styles  */
.about{
  padding: 130px;
  border-radius: 10px;
  background-color: #fff8f3;
  margin: 130px 0;
}
.about-info-container{
  display: flex;
  justify-content: space-around;
}
.about-info{
  text-align: center;
  font-size: 20px;
}
.about-title{
  margin-bottom: 0;
}
.about-description{
  margin-top: 5px;
}


#what-i-learn-description{
  padding: 30px 150px;

} 

.skills-container{
  display: flex;
}